<a href="https://colab.research.google.com/github/syouten/medium-import/blob/main/data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
pip install java

ERROR: Could not find a version that satisfies the requirement java (from versions: none)
ERROR: No matching distribution found for java

In [11]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [47]:
jdbc_path = "C:\\Users\\JiaHan\\AppData\\Local\\Microsoft JDBC Driver 4.2 for SQL Server\\sqljdbc_4.2\\enu\\jre8\\sqljdbc42.jar"

In [82]:

# Create Spark session
spark = SparkSession.builder \
    .appName("CSV Loader") \
    .config("spark.driver.extraClassPath",jdbc_path)\
    .config('spark.executor.extraClassPath',jdbc_path)\
    .getOrCreate()

In [83]:
file_path = "/content/homework/data/ADDRESS.csv"

In [84]:

# Load CSV data
# Replace 'path/to/your/file.csv' with your actual file path
df = spark.read.csv(file_path, header=True, inferSchema=True)

# Show the loaded DataFrame
df.show()

# Optionally: Print the schema of the DataFrame
df.printSchema()

+--------------------+---------+--------------------+--------------------+----------------+------+-----------------+
|        address_guid|is_active|              line_1|              line_2|          line_3|line_4|is_person_address|
+--------------------+---------+--------------------+--------------------+----------------+------+-----------------+
|4649B5E3-4F6C-48B...|        1|21 BUKIT BATOK CR...|#23-72/73 WCEGA T...|SINGAPORE 658065|  NULL|                0|
|5B671354-1ACE-4B9...|        0|     16 JALAN KILANG|#05-01 HOI HUP BU...|SINGAPORE 159416|  NULL|                0|
|CABDCD89-5F62-42C...|        0|343 ANG MO KIO AV...|            #03-2176|SINGAPORE 560343|  NULL|                1|
|526D596F-F0DF-415...|        0|MUHLENREDDER NO.1...|             GERMANY|            NULL|  NULL|                1|
|83B7FFC1-F1D9-4C5...|        0|170 UPPER BUKIT T...|#02-10 BT TIMAH S...|SINGAPORE 588179|  NULL|                0|
|CF31328A-8004-431...|        0|     32 MAXWELL ROAD|  #03-07 WHITE HOUSE|SINGAPORE 069115|  NULL|                0|
|A13349F0-124B-44E...|        0|39 CLEMENTI CRESCENT|      CLEMENTI GREEN|SINGAPORE 599553|  NULL|                1|
|3A49DED0-4BA6-4EC...|        1|6 EU TONG SEN STREET|  #B1-56 THE CENTRAL|SINGAPORE 059817|  NULL|                0|
|3766AA09-8AAB-445...|        0|       10 ANSON ROAD|#35-11 INTERNATIO...|SINGAPORE 079903|  NULL|                0|
|5FE51893-22ED-4B0...|        0|115 PASIR RIS STR...|             #02-557|SINGAPORE 510115|  NULL|                0|
|F0B0BBE9-5921-498...|        0|935 TAMPINES STRE...|             #08-339|SINGAPORE 520935|  NULL|                0|
|67BAB52C-2C51-464...|        0|       54 PIPIT ROAD|              #07-52|SINGAPORE 370054|  NULL|                1|
|19B9D30D-12C5-492...|        0|180A RIVERVALE CR...|             #09-333|SINGAPORE 541180|  NULL|                0|
|B9214C15-6C57-48A...|        0|    34 TUAS CRESCENT|    SINGAPORE 638723|            NULL|  NULL|                0|
|3F2C8645-4D75-48B...|        0|352 ANG MO KIO ST...|             #30-131|SINGAPORE 560352|  NULL|                0|
|351BB71E-F043-445...|        1|     20 MAXWELL ROAD|#09-17 MAXWELL HOUSE|SINGAPORE 069113|  NULL|                0|
|16DF39C6-8C9F-4E7...|        0|      156 SIMEI ROAD|             #07-334|SINGAPORE 520156|  NULL|                1|
|EE583DE0-514B-4CA...|        1|55 SUNGEI KADUT LOOP|    SINGAPORE 729498|            NULL|  NULL|                0|
|3C36ED18-DFC0-476...|        1|3RD FL 13 SUBLANE...|CHUNGKING N.RD SE...|            NULL|  NULL|                1|
|4C20A68B-762E-460...|        1|46 JALAN BUKIT HO...|             #01-876|SINGAPORE 160046|  NULL|                0|
+--------------------+---------+--------------------+--------------------+----------------+------+-----------------+
only showing top 20 rows

root
 |-- address_guid: string (nullable = true)
 |-- is_active: string (nullable = true)
 |-- line_1: string (nullable = true)
 |-- line_2: string (nullable = true)
 |-- line_3: string (nullable = true)
 |-- line_4: string (nullable = true)
 |-- is_person_address: integer (nullable = true)

In [85]:
columns_list = ["line_1","line_2","line_3","line_4"]

In [86]:
for c in columns_list:
  df = df.withColumn(c,F.coalesce(c,F.lit("")))

In [65]:
df.show()

+--------------------+---------+--------------------+--------------------+----------------+------+-----------------+
|        address_guid|is_active|              line_1|              line_2|          line_3|line_4|is_person_address|
+--------------------+---------+--------------------+--------------------+----------------+------+-----------------+
|4649B5E3-4F6C-48B...|        1|21 BUKIT BATOK CR...|#23-72/73 WCEGA T...|SINGAPORE 658065|      |                0|
|5B671354-1ACE-4B9...|        0|     16 JALAN KILANG|#05-01 HOI HUP BU...|SINGAPORE 159416|      |                0|
|CABDCD89-5F62-42C...|        0|343 ANG MO KIO AV...|            #03-2176|SINGAPORE 560343|      |                1|
|526D596F-F0DF-415...|        0|MUHLENREDDER NO.1...|             GERMANY|                |      |                1|
|83B7FFC1-F1D9-4C5...|        0|170 UPPER BUKIT T...|#02-10 BT TIMAH S...|SINGAPORE 588179|      |                0|
|CF31328A-8004-431...|        0|     32 MAXWELL ROAD|  #03-07 WHITE HOUSE|SINGAPORE 069115|      |                0|
|A13349F0-124B-44E...|        0|39 CLEMENTI CRESCENT|      CLEMENTI GREEN|SINGAPORE 599553|      |                1|
|3A49DED0-4BA6-4EC...|        1|6 EU TONG SEN STREET|  #B1-56 THE CENTRAL|SINGAPORE 059817|      |                0|
|3766AA09-8AAB-445...|        0|       10 ANSON ROAD|#35-11 INTERNATIO...|SINGAPORE 079903|      |                0|
|5FE51893-22ED-4B0...|        0|115 PASIR RIS STR...|             #02-557|SINGAPORE 510115|      |                0|
|F0B0BBE9-5921-498...|        0|935 TAMPINES STRE...|             #08-339|SINGAPORE 520935|      |                0|
|67BAB52C-2C51-464...|        0|       54 PIPIT ROAD|              #07-52|SINGAPORE 370054|      |                1|
|19B9D30D-12C5-492...|        0|180A RIVERVALE CR...|             #09-333|SINGAPORE 541180|      |                0|
|B9214C15-6C57-48A...|        0|    34 TUAS CRESCENT|    SINGAPORE 638723|                |      |                0|
|3F2C8645-4D75-48B...|        0|352 ANG MO KIO ST...|             #30-131|SINGAPORE 560352|      |                0|
|351BB71E-F043-445...|        1|     20 MAXWELL ROAD|#09-17 MAXWELL HOUSE|SINGAPORE 069113|      |                0|
|16DF39C6-8C9F-4E7...|        0|      156 SIMEI ROAD|             #07-334|SINGAPORE 520156|      |                1|
|EE583DE0-514B-4CA...|        1|55 SUNGEI KADUT LOOP|    SINGAPORE 729498|                |      |                0|
|3C36ED18-DFC0-476...|        1|3RD FL 13 SUBLANE...|CHUNGKING N.RD SE...|                |      |                1|
|4C20A68B-762E-460...|        1|46 JALAN BUKIT HO...|             #01-876|SINGAPORE 160046|      |                0|
+--------------------+---------+--------------------+--------------------+----------------+------+-----------------+
only showing top 20 rows

In [87]:
df = df.withColumn("full_address", F.concat_ws(" ",F.col("line_1"),F.col("line_2"),F.col("line_3"),F.col("line_4")))

In [88]:
df.withColumn("SG Address Flag",F.when(F.upper(df["full_address"]).contains("SINGAPORE"),"Y").otherwise("N")).show(truncate=False)

+------------------------------------+---------+---------------------------------+---------------------------+----------------+------+-----------------+---------------------------------------------------------------------+---------------+
|address_guid                        |is_active|line_1                           |line_2                     |line_3          |line_4|is_person_address|full_address                                                         |SG Address Flag|
+------------------------------------+---------+---------------------------------+---------------------------+----------------+------+-----------------+---------------------------------------------------------------------+---------------+
|4649B5E3-4F6C-48B6-B22B-000001B11D88|1        |21 BUKIT BATOK CRESCENT          |#23-72/73 WCEGA TOWER      |SINGAPORE 658065|      |0                |21 BUKIT BATOK CRESCENT #23-72/73 WCEGA TOWER SINGAPORE 658065       |Y              |
|5B671354-1ACE-4B93-972D-00000790EC89|0        |16 JALAN KILANG                  |#05-01 HOI HUP BUILDING    |SINGAPORE 159416|      |0                |16 JALAN KILANG #05-01 HOI HUP BUILDING SINGAPORE 159416             |Y              |
|CABDCD89-5F62-42C4-A4C9-00000AE8D257|0        |343 ANG MO KIO AVENUE 3          |#03-2176                   |SINGAPORE 560343|      |1                |343 ANG MO KIO AVENUE 3 #03-2176 SINGAPORE 560343                    |Y              |
|526D596F-F0DF-4156-8EBE-00000F7A8E0D|0        |MUHLENREDDER NO.10, 24629 KISDORF|GERMANY                    |                |      |1                |MUHLENREDDER NO.10, 24629 KISDORF GERMANY                            |N              |
|83B7FFC1-F1D9-4C59-AA8C-0000108BDA89|0        |170 UPPER BUKIT TIMAH ROAD       |#02-10 BT TIMAH SHPG CTR   |SINGAPORE 588179|      |0                |170 UPPER BUKIT TIMAH ROAD #02-10 BT TIMAH SHPG CTR SINGAPORE 588179 |Y              |
|CF31328A-8004-431B-8A63-000010D19A3B|0        |32 MAXWELL ROAD                  |#03-07 WHITE HOUSE         |SINGAPORE 069115|      |0                |32 MAXWELL ROAD #03-07 WHITE HOUSE SINGAPORE 069115                  |Y              |
|A13349F0-124B-44E9-83B0-000017690FEF|0        |39 CLEMENTI CRESCENT             |CLEMENTI GREEN             |SINGAPORE 599553|      |1                |39 CLEMENTI CRESCENT CLEMENTI GREEN SINGAPORE 599553                 |Y              |
|3A49DED0-4BA6-4ECA-94B7-00001797E766|1        |6 EU TONG SEN STREET             |#B1-56 THE CENTRAL         |SINGAPORE 059817|      |0                |6 EU TONG SEN STREET #B1-56 THE CENTRAL SINGAPORE 059817             |Y              |
|3766AA09-8AAB-4455-872F-000018B9BD43|0        |10 ANSON ROAD                    |#35-11 INTERNATIONAL PLAZA |SINGAPORE 079903|      |0                |10 ANSON ROAD #35-11 INTERNATIONAL PLAZA SINGAPORE 079903            |Y              |
|5FE51893-22ED-4B00-A098-0000196B7533|0        |115 PASIR RIS STREET 11          |#02-557                    |SINGAPORE 510115|      |0                |115 PASIR RIS STREET 11 #02-557 SINGAPORE 510115                     |Y              |
|F0B0BBE9-5921-498C-80F1-00001A2110AC|0        |935 TAMPINES STREET 91           |#08-339                    |SINGAPORE 520935|      |0                |935 TAMPINES STREET 91 #08-339 SINGAPORE 520935                      |Y              |
|67BAB52C-2C51-464F-BD39-00001B578EDE|0        |54 PIPIT ROAD                    |#07-52                     |SINGAPORE 370054|      |1                |54 PIPIT ROAD #07-52 SINGAPORE 370054                                |Y              |
|19B9D30D-12C5-4925-B8E3-00001CE0273B|0        |180A RIVERVALE CRESCENT          |#09-333                    |SINGAPORE 541180|      |0                |180A RIVERVALE CRESCENT #09-333 SINGAPORE 541180                     |Y              |
|B9214C15-6C57-48AF-AFF7-00001D14CDF5|0        |34 TUAS CRESCENT                 |SINGAPORE 638723           |                |      |0                |34 TUAS CRESCENT SINGAPORE 638723                                    |Y              |
|3F2C8645-4D75-48BC-B978-00001D38CD6F|0        |352 ANG MO KIO STREET 32         |#30-131                    |SINGAPORE 560352|      |0                |352 ANG MO KIO STREET 32 #30-131 SINGAPORE 560352                    |Y              |
|351BB71E-F043-4452-AE6F-00001DA266AB|1        |20 MAXWELL ROAD                  |#09-17 MAXWELL HOUSE       |SINGAPORE 069113|      |0                |20 MAXWELL ROAD #09-17 MAXWELL HOUSE SINGAPORE 069113                |Y              |
|16DF39C6-8C9F-4E79-838C-00001E615886|0        |156 SIMEI ROAD                   |#07-334                    |SINGAPORE 520156|      |1                |156 SIMEI ROAD #07-334 SINGAPORE 520156                              |Y              |
|EE583DE0-514B-4CA6-8D80-000020C9C7EA|1        |55 SUNGEI KADUT LOOP             |SINGAPORE 729498           |                |      |0                |55 SUNGEI KADUT LOOP SINGAPORE 729498                                |Y              |
|3C36ED18-DFC0-4769-9E3C-000028C2922D|1        |3RD FL 13 SUBLANE 5 LANE 190     |CHUNGKING N.RD SEC 4 TAIPEI|                |      |1                |3RD FL 13 SUBLANE 5 LANE 190 CHUNGKING N.RD SEC 4 TAIPEI             |N              |
|4C20A68B-762E-460B-AEB4-000029225ED1|1        |46 JALAN BUKIT HO SWEE           |#01-876                    |SINGAPORE 160046|      |0                |46 JALAN BUKIT HO SWEE #01-876 SINGAPORE 160046                      |Y              |
+------------------------------------+---------+---------------------------------+---------------------------+----------------+------+-----------------+---------------------------------------------------------------------+---------------+
only showing top 20 rows

In [89]:
# JDBC URL
url = "jdbc:sqlserver://DESKTOP-5SH9O1E\SQLEXPRESS.database.windows.net:1433;database=TEST"

# Connection properties
properties = {
    "driver": "com.microsoft.sqlserver.jdbc.SQLServerDriver",
    "integratedSecurity": "true"
}

In [90]:
# Write the DataFrame to MS SQL
df.write.jdbc(url=url, table="your_table_name", mode="overwrite", properties=properties)

Py4JJavaError: An error occurred while calling o567.jdbc.
: java.lang.ClassNotFoundException: com.microsoft.sqlserver.jdbc.SQLServerDriver
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:476)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:594)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:527)
	at org.apache.spark.sql.execution.datasources.jdbc.DriverRegistry$.register(DriverRegistry.scala:46)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1$adapted(JDBCOptions.scala:103)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:254)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:258)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:47)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:48)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:142)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:869)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:391)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:364)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:251)
	at org.apache.spark.sql.DataFrameWriter.jdbc(DataFrameWriter.scala:766)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)